body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 23%;
    max-width: 23%;
    margin: 1%;
  }
}

@media (min-width: 360px) {
  .col-lg-3 {
    margin: 1%;
  }
}